html, body {
    margin: 0;
}
body {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: #FFFFFF;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: #2e2e8acc;
    padding: 10px 20px 0px;
    color: white;
}
.header {
    background-color:#E8EAF0;
    max-height: 255px;
    width: 100%;
    height: auto;
    display: inline-block;

}
.content {
    background-color: #f2f1ed;
    min-height: 300px;
    padding: 20px;
    align-content: center;
    color: #000000;
}
.footer {
    background-color: #09092ddc;
    min-height: 150px;
    color: #FFFFFF
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content table {
    border: solid 2px #09092ddc;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.64); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.64);
}

.content table thead {
    background-color: #09092ddc;
    color: #FFFFFF;
}

.content tbody tr:nth-child(even) {
    background-color: #8888b1dc;
}

.content table tbody tr td {
    cursor: pointer;
}

.content table tbody tr:hover td {
    background-color: #2e2e8acc;
}